@import url('https://fonts.googleapis.com/css?family=Manrope:400,600&display=swap');

:root {
  --main-bg-color: #343b3f;
  --selected-text-color: #212121;
  --selected-text-bg-color: #aadc39;
  --main-text-color: white;
  --calendar-text-color: whitesmoke;
  --nav-footer-bg-color: #252525fa;
  --small-padding: 1rem;
  --med-margin: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: var(--main-text-color);
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

body {
  background-color: var(--main-bg-color);
}

svg {
  margin: 0.5rem;
}

::-moz-selection {
  color: var(--selected-text-color);
  background: var(--selected-text-bg-color);
}

::selection {
  color: var(--selected-text-color);
  background: var(--selected-text-bg-color);
}

.active {
  border-bottom: solid 0.1rem white;
  display: inline;
  padding-bottom: 0.2rem;
}

.bold {
  font-weight: bold !important;
}

.link {
  text-decoration: underline dashed white !important;
  text-underline-position: under;
}

.link:hover {
  text-decoration: underline dashed yellow !important;
  text-underline-position: under;
}

.text-center {
  text-align: center;
}

.pic {
  border-radius: 50%;
  margin-top: 1rem;
  height: 15%;
  width: 15%;
  border: 0.1rem;
}

.padding-small {
  padding: var(--small-padding);
}

.margin-right-medium {
  margin-right: var(--med-margin);
}

#name {
  color: var(--main-text-color);
  text-align: center;
  font-size: 2rem;
  font-family: 'Manrope', sans-serif;
}

#social a {
  margin: 0.2rem;
  font-size: xx-large;
}
