@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document-file-c2:before {
  content: "\e90b";
}
.icon-document-file-c3:before {
  content: "\e90d";
}
.icon-file-c:before {
  content: "\e910";
}
.icon-document-file-c:before {
  content: "\e912";
}
.icon-terminal:before {
  content: "\e902";
}
.icon-gamepad:before {
  content: "\e900";
}
.icon-gitlab:before {
  content: "\e901";
}
.icon-android:before {
  content: "\e905";
  color: #a4c639;
}
.icon-angular:before {
  content: "\e906";
  color: #dd0031;
}
.icon-css3:before {
  content: "\e903";
  color: #1572b6;
}
.icon-django:before {
  content: "\e904";
}
.icon-github2:before {
  content: "\e907";
}
.icon-javascript:before {
  content: "\e909";
  color: #f7df1e;
}
.icon-python:before {
  content: "\e90c";
  color: #3776ab;
}
.icon-reddit:before {
  content: "\e90e";
  color: #ff4500;
}
.icon-stackoverflow2:before {
  content: "\e90f";
  color: #fe7a16;
}
.icon-visualstudiocode:before {
  content: "\e911";
  color: #0271bc;
}
.icon-windows:before {
  content: "\e908";
  color: #0078d6;
}
.icon-youtube:before {
  content: "\e90a";
  color: #f00;
}
.icon-cog:before {
  content: "\e994";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-git:before {
  content: "\eae7";
}
