.tils {
  display: inline-grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 30%);
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .tils {
    grid-template-columns: repeat(2, 42%);
    align-items: stretch;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 450px) {
  .tils {
    grid-template-columns: repeat(1, 95%);
    align-items: stretch;
    justify-content: space-around;
  }
}
