.calendar {
  font-family: Fira Code, Open Sans, arial;
  border: 1px solid #dddddd;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
  min-height: fit-content;
  max-width: 70rem;
  max-height: 20rem;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: whitesmoke;
}

.contrib-legend {
  display: none;
}

.text-small {
  font-size: 12px;
  color: whitesmoke;
}

.contrib-column > span {
    color: var(--calendar-text-color);
}

.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}

.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.contrib-column-first {
  border-left: 0;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: #333;
}

.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

.monospace {
  text-align: center;
  color: #000;
  font-family: monospace;
}

.wday > text {
    margin-left: 1rem;
}

.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

.left.text-muted {
  float: left;
  margin-left: 15px;
  color: whitesmoke;
}
.left.text-muted a {
  color: #4078c0;
  text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
  display: none;
}

.float-left.text-gray {
  float: left;
}
#user-activity-overview {
  display: none;
}
