.cal-container {
  display: flex;
  justify-content: center;
  text-align: center !important;
}

text {
  fill: white !important;
}

.heading {
  font-size: 1.5rem;
}

.margin-top-small {
  margin-top: 1rem;
}
