.pill-button {
  border: none;
  color: var(--main-text-color);
  background-color: var(--nav-footer-bg-color);
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1.6rem;
}
