.button {
  background-color: var(--link-color);
  color: var(--main-bg-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--link-hover-color);
  color: var(--main-bg-color) !important;
  text-decoration: none !important;
}
