.pill-button {
  border: none;
  background-color: var(--nav-footer-bg-color);
  padding: 0.625rem 1.25rem;
  display: inline-block;
  margin: 0.25rem 0.6rem;
  cursor: pointer;
  border-radius: 1.6rem;
}
