.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  padding: 1rem 1.3rem;
  text-align: center;
  background-color: var(--nav-footer-bg-color);
  border-radius: 0.42rem;
  width: 90%;
  margin: 1rem;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  justify-self: center;
}

.card > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.card > div > p {
  margin: 1rem 0;
}

.card > div > h3 {
  margin: 0.5rem 0;
}

.eq-div-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.12),
    0 0.25rem 0.5rem rgba(0, 0, 0, 0.06);
}

.card-title {
  max-height: 5rem;
}

.card-star {
  max-height: 5rem;
}

.card-lang {
  max-height: 5rem;
}

.card-description {
  color: rgba(255, 255, 255, 0.856);
  text-align: left;
  max-height: 7rem;
}

.card-til {
  color: rgba(255, 255, 255, 0.856);
  text-align: left;
  max-height: 15rem;
  margin-top: 0.5rem !important;
}

.link-twitter {
  text-decoration: underline solid white !important;
  color: var(--dull-white);
  text-underline-position: under;
}

.link-twitter:hover {
  text-decoration: underline solid var(--twitter-brand) !important;
  color: var(--twitter-brand);
  text-underline-position: under;
}

.til-card-boundary {
  display: flex;
  font-size: 0.85rem;
  flex-direction: row;
  justify-content: space-between;
}

.til-card-boundary > span {
  color: var(--dull-white);
}

.svg-icon svg {
  position: relative;
  top: 0.55em;
}
