footer {
  background-color: var(--nav-footer-bg-color);
  padding: 1.1%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header {
  background-color: var(--nav-footer-bg-color);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav > * {
  margin-left: 1vw;
  margin-right: 1vw;
}

.header {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.header > * {
  padding: 0.5rem;
}

.site {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem !important;
}

@media only screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}