footer {
  background-color: var(--nav-footer-bg-color);
  padding: 1rem;
}

header {
  background-color: var(--nav-footer-bg-color);
  margin-bottom: 1.45rem;
}

header ul {
  margin: 0 5em 0 5em;
  padding: 0;
  display: flex;
}

header ul li {
  display: inline-block;
  list-style-type: none;
}

header ul li a {
  display: block;
  line-height: 3em;
  padding: 1em 2em;
  text-decoration: none;
}

header ul li:first-child {
  margin-right: auto;
}

.alert-primary > p {
  color: var(--alert-text-color) !important; 
  margin-bottom: 0 !important;
}

.alert-primary > p > a {
  color: var(--alert-text-color) !important; 
  font-weight: bolder !important;
}

.site {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

.title {
  text-transform: uppercase;
}

@media only screen and (max-width: 360px) {
  header ul li a {
    display: block;
    line-height: 3em;
    padding: 0 !important;
    text-decoration: none;
  }

  header ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
}


@media only screen and (max-width: 400px) {
  header ul li a {
    display: block;
    line-height: 3em;
    padding: 0, 0.5 !important;
    text-decoration: none;
  }

  header ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  header ul li a {
    display: block;
    line-height: 3em;
    padding: 1em 1em;
    text-decoration: none;
  }

  header ul {
    margin: 0 0.5em 0 0.5em;
    padding: 0;
    display: flex;
  }
}