footer {
  padding: 2rem;
}

header {
  padding: 1rem 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav > * {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.header {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.header > * {
  padding: 0.5rem;
}

.site-content {
  flex-grow: 1;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.site {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 1.3rem !important;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}